---
import "./Footer.scss";
import Container from "@components/ui/container/Container.astro";
import Feedback from "./feedback/Feedback.astro";
---
<footer class="footer">
    <Container className="footer__container">
        <Feedback className="footer__header"/>
        <div class="footer__content">
            <div class="nav-col">
                <div class="nav-col__title">COMPANY</div>
                <ul class="nav-col__list">
                    <li class="nav-col__item"><a href="/mock-address/change-me" class="nav-col__link">About</a></li>
                    <li class="nav-col__item"><a href="/mock-address/change-me" class="nav-col__link">Contact</a></li>
                    <li class="nav-col__item"><a href="/mock-address/change-me" class="nav-col__link">Affiliates</a></li>
                    <li class="nav-col__item"><a href="/mock-address/change-me" class="nav-col__link">Careers</a></li>
                    <li class="nav-col__item"><a href="/mock-address/change-me" class="nav-col__link">Reviews</a></li>
                </ul>
            </div>
            <div class="nav-col">
                <div class="nav-col__title">PRODUCTS</div>
                <ul class="nav-col__list">
                    <li class="nav-col__item"><a href="/mock-address/change-me" class="nav-col__link">About</a></li>
                    <li class="nav-col__item"><a href="/mock-address/change-me" class="nav-col__link">Contact</a></li>
                    <li class="nav-col__item"><a href="/mock-address/change-me" class="nav-col__link">Affiliates</a></li>
                    <li class="nav-col__item"><a href="/mock-address/change-me" class="nav-col__link">Careers</a></li>
                    <li class="nav-col__item"><a href="/mock-address/change-me" class="nav-col__link">Reviews</a></li>
                </ul>
            </div>
            <div class="nav-col">
                <div class="nav-col__title">LEARN</div>
                <ul class="nav-col__list">
                    <li class="nav-col__item"><a href="/mock-address/change-me" class="nav-col__link">About</a></li>
                    <li class="nav-col__item"><a href="/mock-address/change-me" class="nav-col__link">Contact</a></li>
                    <li class="nav-col__item"><a href="/mock-address/change-me" class="nav-col__link">Affiliates</a></li>
                    <li class="nav-col__item"><a href="/mock-address/change-me" class="nav-col__link">Careers</a></li>
                    <li class="nav-col__item"><a href="/mock-address/change-me" class="nav-col__link">Reviews</a></li>
                </ul>
            </div>
            <div class="nav-col">
                <div class="nav-col__title">LEGAL</div>
                <ul class="nav-col__list">
                    <li class="nav-col__item"><a href="/mock-address/change-me" class="nav-col__link">AML Policy</a></li>
                    <li class="nav-col__item"><a href="/mock-address/change-me" class="nav-col__link">Privacy Policy</a></li>
                    <li class="nav-col__item"><a href="/mock-address/change-me" class="nav-col__link">Terms of Service</a></li>
                    <li class="nav-col__item"><a href="/mock-address/change-me" class="nav-col__link">Cookie Policy</a></li>
                </ul>
            </div>
        </div>
        <div class="footer__footer">
            <div class="copyright">© 2024 CoinBit. All Rights Reserved.</div>
        </div>
    </Container>
</footer>