.game-card {
  display: flex;
  flex-direction: column;
  gap: 25px;

  &__title {
    font-size: 42px;
    font-weight: var(--fw-bold);
    display: flex;
    flex-direction: column;
  }
  &__text {
    font-size: 20px;
    line-height: 170%;
    padding-bottom: 25px;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      width: 100%;
      background-color: var(--white-100);
    }
  }
}