---
import Container from "@components/ui/container/Container.astro";
import Button from "@components/ui/button/Button.astro";
---
<header class="header">
    <Container className="header__container">
        <nav class="header__menu menu">
            <ul class="menu__list">
                <li class="menu__item"><a href="/mock-address/change-me" class="menu__link">Game</a></li>
                <li class="menu__item"><a href="/mock-address/change-me" class="menu__link">Docs</a></li>
                <li class="menu__item"><a href="/mock-address/change-me" class="menu__link">Tokenomics</a></li>
                <li class="menu__item"><a href="/mock-address/change-me" class="menu__link">Social</a></li>
            </ul>
        </nav>
        <Button>Download</Button>
    </Container>
</header>