.text-gradient {
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

  &.white-light-blue {
    background-image: var(--white-light-blue-gradient);
  }
  &.purple-light-blue {
    background-image: var(--purple-light-blue-gradient);
  }
}